<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    
    <!-- Welcome file list -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- Filter order is important -->
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>AdminAuthorizationFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>AdminAuthorizationFilter</filter-name>
        <url-pattern>/AdminDashboardServlet</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>AdminAuthorizationFilter</filter-name>
        <url-pattern>/AdminUsersServlet</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>AdminAuthorizationFilter</filter-name>
        <url-pattern>/AdminCampaignsServlet</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>AdminAuthorizationFilter</filter-name>
        <url-pattern>/AdminDonationsServlet</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>UserAuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>